@media screen and (min-width: 250px) {
	
	body {
		
		content: url(kitten-small.png);
		
	}
	
}

@media screen and (min-width: 500px) {
	
	body {
		
	
	content: url(kitten-medium.png);
	}
}

@media screen and (min-width: 800px) {
	
	body {
		
		content: url(kitten-large.png);
		
	}
}body {
	background-image: url(gif1.gif)
	
}
